@{
    ViewBag.Title = "员工管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="easyui-layout" data-options="fit:true" id="tb">
        <!-------------------------------搜索框----------------------------------->
        <div data-options="region:'north'" style="padding: 1px; height: 70px">
            <fieldset>
                <legend>{{Condition}}</legend>

                <form id="ffSearch" method="post">
                    <div id="searchdiv">
                        <table cellspacing="0" cellpadding="0">
                            <tr> 
                                <td>
                                    <label for="searchCompany">{{Company}}：</label>
                                </td>
                                <td> 
                                    <select class="easyui-combobox" id="searchCompany" name="searchCompany" style="width: 180px;" data-options="url:'/Base/GetCombox?type=Company&first=null',
					            method:'get',
					            valueField:'id',
					            textField:'text',
					            panelHeight:'230px'"></select>
                                </td>
                                  <td>
                                   &nbsp; &nbsp;
                                </td>
                                <td>
                                    <label for="searchName">{{StaffName}}：</label>
                                </td>
                                <td>
                                    <input class="easyui-textbox" type="text" id="searchName" name="searchName" style="width: 150px;" maxlength="50" />
                                </td>
                                 <td>
                                    &nbsp;&nbsp;<a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" id="btnSearch" onclick="doSearch();">{{Search}}</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </form>

            </fieldset>

        </div>
        <!------------------------------------------------------------------------>
        <div data-options="region:'center'">
            <!-------------------------------详细信息展示表格----------------------------------->
            <table id="dgrid" class="easyui-datagrid" fit="true" idfield="Id" title="" data-options="
               url: '/System/StaffSearch',
               rownumbers:true,
               pagination:true,
               pagenumber:1,
               pageSize:pageSize,
               pageList:pageList,
               toolbar:'#toolbar',
               remoteSort:true,
               sortName:'StaffName',
               sortOrder:'asc',
               singleSelect:true,
               nowrap:false,
               loadMsg: loadMsg,
               striped : true,
               fitColumns:true,
               method:'post',
              onLoadSuccess:onLoadSuccess
               ">
                <thead>
                    <tr>
                        <th data-options="field:'Id',width:80,fixed:true,align:'center',formatter:Operation_formatter">{{Operation}}</th>
                        <th data-options=" field:'LoginId',width:100,sortable:true">{{LoginId}}</th>
                        <th data-options=" field:'StaffName',width:100,sortable:true">{{StaffName}}</th> 
                        <th data-options=" field:'BirthDate',width:100,fixed:true,sortable:true,formatter:DateFormat">{{BirthDate}}</th>
                        <th data-options=" field:'CompanyName',width:250,sortable:true">{{Company}}</th>
                        <th data-options=" field:'RoleName',width:100,sortable:true">{{Role}}</th>
                        <th data-options=" field:'Mobile',width:100,sortable:true">{{Mobile}}</th>
                        <th data-options=" field:'Email',width:120,sortable:true">{{Email}}</th>
                        <th data-options=" field:'Enable',width:50,fixed:true,formatter: Enableformater">{{Enable}}</th>
                    </tr>
                </thead>
            </table>
            <!-------------------------------详细信息展示表格----------------------------------->
        </div>
    </div>
    <!-------------------------------操作按钮----------------------------------->
    <div id="toolbar" style="height:auto">
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="AddData();">{{Add}}</a>
     </div>
    <div id="menu" class="easyui-menu" style="width: 50px; display: none;">
        <!--放置一个隐藏的菜单Div-->
        <div data-options="iconCls:'icon-add'" onclick="AddData();">{{Add}}</div>
        <div data-options="iconCls:'icon-edit'" onclick="EditData();">{{Edit}}</div>
        <div data-options="iconCls:'icon-delete'" onclick="DeleteData();">{{Delete}}</div>
    </div>
    @*添加弹窗*@
    <div id="dlg_addDialog" class="easyui-dialog" title="" style="width:720px;height:370px;" data-options="iconCls:'icon-save',buttons: [{
					text:$lang('Save'),
					iconCls:'icon-accept',
					handler:function(){
						Dialog_Save();
					}
				},{
					text:$lang('Close'),
                    iconCls:'icon-cancel',
					handler:function(){
						 $('#dlg_addDialog').dialog('close')
					}
				}]" closed="true">
        <form id="fmAdd" method="post" data-options="novalidate:true">
            <div id="tabAdd" class="easyui-tabs">
                <div v-bind:title="title" style="padding:10px">
                    <table id="tblAdd" class="windowtable">
                        <tr>
                            <td class="firstTd" style="width: 130px;"><label for="txt_LoginId">{{LoginId}}：</label></td>
                            <td class="nthTd" style="width: 230px;"><input class="easyui-textbox" type="text" id="txt_LoginId" name="txt_LoginId" data-options="required:true,validType:'length[1,50]' " style="width:230px;" /></td>
                            <td class="firstTd" style="width: 130px;"><label for="txt_Password">{{Password}}：</label></td>
                            <td class="nthTd" style="width: 230px;"><input class="easyui-textbox" id="txt_Password" name="txt_Password" data-options="required:true,validType:'length[0,20]' " style="width:230px;" /></td>
                        </tr>
                        <tr>
                            <td class="firstTd"><label for="txt_StaffName">{{StaffName}}：</label></td>
                            <td class="nthTd"><input class="easyui-textbox" id="txt_StaffName" name="txt_StaffName" data-options="required:true,validType:'length[0,30]' " style="width:230px;" /></td>
                            <td class="firstTd"><label for="txt_Alias">{{Alias}}：</label></td>
                            <td class="nthTd"><input class="easyui-textbox" id="txt_Alias" name="txt_Alias" data-options="validType:'length[0,30]' " style="width:230px;" /></td>
                        </tr> 
                        <tr>
                            <td class="firstTd"><label for="com_Sex">{{Sex}}：</label></td>
                            <td class="nthTd">
                                <select class="easyui-combobox" id="com_Sex" name="com_Sex" style="width: 230px;" data-options="required:true,validType:'length[1,50]' ">
                                    <option value="M">M</option>
                                    <option value="F">F</option>
                                </select>
                            </td>
                            <td class="firstTd"><label for="txt_BirthDate">{{BirthDate}}：</label></td>
                            <td class="nthTd"><input class="easyui-datebox" id="txt_BirthDate" name="txt_BirthDate" data-options="validType:'length[0,10]' " style="width:230px;" /></td>
                        </tr>
                        <tr>
                            <td class="firstTd"><label for="com_Company">{{Company}}：</label></td>
                            <td class="nthTd" colspan="3">
                                <select class="easyui-combotree" id="com_Company" name="com_Company" style="width: 100%;" data-options="required:true,url:'/Base/GetCombox?type=Company-Department',
					            method:'get',
					            valueField:'id',
					            textField:'text',
					            panelHeight:'auto'"></select>
                            </td>
                            
                         </tr>
                        <tr>
                            <td class="firstTd"><label for="com_Position">{{Position}}：</label></td>
                            <td class="nthTd">
                                <select class="easyui-combobox" id="com_Position" name="com_Position" style="width: 230px;" data-options="url:'/Base/GetCombox?type=SysList&SysId=5&bind=text',
                                method:'get',
					            valueField:'text',
					            textField:'text',
					            panelHeight:'250px'"></select>
                            </td>
                            <td class="firstTd"><label for="com_Role">{{Role}}：</label></td>
                            <td class="nthTd">
                                <select class="easyui-combobox" id="com_Role" name="com_Role" style="width: 230px;" data-options="required:true,url:'/Base/GetCombox?type=Role',
					            method:'get',
					            valueField:'id',
					            textField:'text',
					            panelHeight:'250px'"></select>
                            </td> 
                         </tr>
                        <tr>
                            <td class="firstTd"><label for="com_Nationality">{{Nationality}}：</label></td>
                            <td class="nthTd">
                                <select class="easyui-combobox" id="com_Nationality" name="com_Nationality" style="width: 230px;" data-options="url:'/Base/GetCombox?type=SysList&SysId=4&bind=text',
                                         method:'get',
					            valueField:'id',
					            textField:'text',
					            panelHeight:'250px'"></select>
                            </td>
                             <td class="firstTd"><label for="com_Marital">{{Marital}}：</label></td>
                            <td class="nthTd">
                                <select class="easyui-combobox" id="com_Marital" name="com_Marital" data-options="required:true" style="width: 230px;">
                                    <option value="Single" selected="selected">Single</option>
                                    <option value="Married">Married</option>
                                </select>
                            </td>
                         </tr> 
                     
                        <tr>
                            <td class="firstTd"><label for="txt_Phone">{{Phone}}：</label></td>
                            <td class="nthTd"><input class="easyui-textbox" id="txt_Phone" name="txt_Phone" data-options="validType:'length[0,20]' " value="0" style="width:230px;" /></td>
                            <td class="firstTd"><label for="txt_Mobile">{{Mobile}}：</label></td>
                            <td class="nthTd"><input class="easyui-textbox" id="txt_Mobile" name="txt_Mobile" data-options="validType:'length[0,20]' " style="width:230px;" /></td>
                        </tr> 
                        <tr>
                            <td class="firstTd"><label for="txt_Email">{{Email}}：</label></td>
                            <td class="nthTd"><input class="easyui-textbox" id="txt_Email" name="txt_Email" data-options="validType:'length[0,30]' " style="width:230px;" /></td>
                            <td class="firstTd"><label for="txt_Fax">{{Fax}}：</label></td>
                            <td class="nthTd"><input class="easyui-textbox" id="txt_Fax" name="txt_Fax" data-options="validType:'length[0,20]' " style="width:230px;" /></td>
                        </tr>
                        <tr>
                            <td class="firstTd"><label for="txt_Blk">{{Blk}}：</label></td>
                            <td class="nthTd"><input class="easyui-textbox" id="txt_Blk" name="txt_Blk" data-options="validType:'length[0,50]' " style="width:230px;" /></td>
                            <td class="firstTd"><label for="txt_StreetName">{{StreetName}}：</label></td>
                            <td class="nthTd"><input class="easyui-textbox" id="txt_StreetName" name="txt_StreetName" data-options="validType:'length[0,50]' " style="width:230px;" /></td>
                        </tr>
                        <tr>
                            <td class="firstTd"><label for="txt_BuildingName">{{BuildingName}}：</label></td>
                            <td class="nthTd"><input class="easyui-textbox" id="txt_BuildingName" name="txt_BuildingName" data-options="validType:'length[0,50]' " style="width:230px;" /></td>
                            <td class="firstTd"><label for="txt_Unit">{{Unit}}：</label></td>
                            <td class="nthTd"><input class="easyui-textbox" id="txt_Unit" name="txt_Unit" data-options="validType:'length[0,50]' " style="width:230px;" /></td>
                        </tr>
                        <tr>
                            <td class="firstTd"><label for="txt_PostalCode">{{PostalCode}}：</label></td>
                            <td class="nthTd"><input class="easyui-textbox" id="txt_PostalCode" name="txt_PostalCode" data-options="validType:'length[0,10]' " style="width:230px;" /></td>
                            <td class="firstTd"><label for="com_Enable">{{Enable}}：</label></td>
                            <td class="nthTd">
                                <select class="easyui-combobox" id="com_Enable" name="com_Enable" style="width: 230px;" data-options="required:true,editable:false">
                                    <option value="true" selected="selected">In Office</option>
                                    <option value="false">Leave Office</option>
                                </select>
                            </td>
                          </tr>
                        <tr>
                            <td class="firstTd"><label for="txt_Dateoined">{{Dateoined}}：</label></td>
                            <td class="nthTd"><input class="easyui-datebox" id="txt_Dateoined" name="txt_Dateoined" data-options="required:true,validType:'length[0,10]' " style="width:230px;" /></td>
                            <td class="firstTd"><label for="txt_DateResignation">{{DateResignation}}：</label></td>
                            <td class="nthTd"><input class="easyui-datebox" id="txt_DateResignation" name="txt_DateResignation" data-options="validType:'length[0,10]' " style="width:230px;" /></td>
                        </tr>
                        <tr>
                            <td class="firstTd"><label for="txt_AcctCode">{{AcctCode}}：</label></td>
                            <td class="nthTd"><input class="easyui-textbox" id="txt_AcctCode" name="txt_AcctCode" data-options="validType:'length[0,10]' " style="width:230px;" /></td>
                            <td class="firstTd">&nbsp;</td>
                            <td class="nthTd">&nbsp;</td>
                        </tr>
                    </table>
                </div>
            </div>
        </form>
    </div>

</body>

@section body_after{
    @*vm script*@
    <script>
        //所有VM多在这里
        //grid表头
        var vm_gridhead = new Vue({
            el: '#tb',
            data: {
                Condition: $lang("Search Condition"),
                Search: $lang("Search"),
                Operation: $setLang("Operation", "操作"),
                LoginId: $setLang("Login ID", "登录名称"),
                Password: $setLang("Password", "密码"),
                StaffName: $setLang("Staff Name", "员工姓名"),
                Alias: $setLang("Alias", "别名"),
                Sex: $setLang("Sex", "性别"),
                BirthDate: $setLang("Date Of Birth", "出生日期"),
                Dateoined: $setLang("Date Joined", "工作日期"),
                DateResignation: $setLang("Date Resignation", "离职日期"),
                Company: $setLang("Company", "所属公司"),
                Group: $setLang("Group", "组/部门"),
                Position: $setLang("Position", "职位"),
                Role: $setLang("Role", "角色"),
                Nationality: $setLang("Nationality", "国籍"),
                Marital: $setLang("Marital Status", "婚姻状况"),
                Phone: $setLang("Phone", "电话"),
                Mobile: $setLang("Mobile", "手机号"),
                Email: $setLang("Email", "邮箱地址"),
                Fax: $setLang("Fax", "传真"),
                Blk: $setLang("Blk", "门牌"),
                StreetName: $setLang("Street Name", "街道名"),
                BuildingName: $setLang("Building Name", "建筑名"),
                Unit: $setLang("Unit #", "单元"),
                PostalCode: $setLang("Postal Code", "收款号"),
                Enable: $setLang("Enable", "状态"),
                AcctCode: $setLang("Acct Code", "项目代码"),
            }
        })
        //toolbar按钮
        var vm_toolbar = new Vue({
            el: '#toolbar',
            data: {
                Add: $lang("Add"),
                Edit: $lang("Edit"),
                Delete: $lang("Delete"),
            }
        })
        //menu菜单
        var vm_menu = new Vue({
            el: '#menu',
            data: {
                Add: $lang("Add"),
                Edit: $lang("Edit"),
                Delete: $lang("Delete"),
            }
        })
        //增加修改模态框
        var vm_dialog = new Vue({
            el: '#dlg_addDialog',
            data: {
                title: $lang("Basic Information"),
                title2: $setLang("Salary Information", "薪资信息"),
                title3: $setLang("Holiday Information", "假期信息"),
                LoginId: $setLang("Login ID", "登录名称"), 
                Password: $setLang("Password", "密码"),
                StaffName: $setLang("Staff Name", "员工姓名"),
                Alias: $setLang("Alias", "别名"), 
                Sex: $setLang("Sex", "性别"),
                BirthDate: $setLang("Date Of Birth", "出生日期"), 
                Dateoined: $setLang("Date Joined", "工作日期"),
                DateResignation: $setLang("Date Resignation", "离职日期"),
                Company: $setLang("Company", "所属公司"), 
                Group: $setLang("Group", "组/部门"),
                Position: $setLang("Position", "职位"),
                Role: $setLang("Role", "角色"),
                Nationality: $setLang("Nationality", "国籍"), 
                Marital: $setLang("Marital Status", "婚姻状况"),
                Phone: $setLang("Phone", "电话"),
                Mobile: $setLang("Mobile", "手机号"),
                Email: $setLang("Email", "邮箱地址"),
                Fax: $setLang("Fax", "传真"),
                Blk: $setLang("Blk", "门牌"),
                StreetName: $setLang("Street Name", "街道名"),
                BuildingName: $setLang("Building Name", "建筑名"),
                Unit: $setLang("Unit #", "单元"),
                PostalCode: $setLang("Postal Code", "收款号"),
                Enable: $setLang("Enable", "状态"),
                AcctCode: $setLang("Acct Code", "项目代码"),
            }
        })
    </script>
    <script type="text/javascript">
        var TbId = 0; 
        var width = 780; //窗框宽度
        var height = 560; //窗框高度
        var tops = 1;
        var left = 1;
        var type = "Add"; //区分修改还是新增，修改：Edit
        var url = "/System/StaffAction";
        //新增相关****************************
        function AddData() {
            $('#dlg_addDialog').dialog({
                title: $lang('Add'),
                width: width,
                height: height,
                top: tops,
                left: left,
                closed: false,
                draggable: true,
                resizable: true,
                maximizable: true,
                collapsible: true,
                cache: false,
                modal: true

            });
            type = "Add";
            TbId = 0;
            $('#fmAdd').form('clear'); //清除表单,所有的
            //$('#fmAdd').form('reset'); //清除表单
            $("#com_Sex").combobox('select', 'M');
            $('#com_Enable').combobox('select', 'true');
            $("#com_Marital").combobox('select', 'Single');
            $("#txt_LoginId").textbox({ 'disabled': false });
        }
        //更新数据按钮
        function Dialog_Save() {
            $('#fmAdd').form('submit',
                {
                    onSubmit: function () {
                        var b = $(this).form('enableValidation').form('validate');
                        if (b) {
                            
                            var companyGroup = $("#com_Company").combobox('getValue');
                            var arry = companyGroup.split("-");
                            //创建传递的参数
                            var postdata = {
                                Action: type,
                                Id: TbId,
                                LoginId: $("#txt_LoginId").val(),
                                Password: $("#txt_Password").val(),
                                StaffName: $("#txt_StaffName").val(),
                                Alias: $("#txt_Alias").val(),
                                Sex: $("#com_Sex").combobox('getValue'),
                                BirthDate: $("#txt_BirthDate").val(),
                                Dateoined: $("#txt_Dateoined").val(),
                                DateResignation: $("#txt_DateResignation").val(),
                                CompanyId: arry[0],
                                GroupId: arry[1],
                                Position: $("#com_Position").combobox('getValue'),
                                RoleId: $("#com_Role").combobox('getValue'),
                                Nationality: $("#com_Nationality").combobox('getValue'),
                                Marital: $("#com_Marital").combobox('getValue'), 
                                Phone: $("#txt_Phone").val(),
                                Mobile: $("#txt_Mobile").val(),
                                Email: $("#txt_Email").val(),
                                Fax: $("#txt_Fax").val(),
                                Blk: $("#txt_Blk").val(),
                                StreetName: $("#txt_StreetName").val(),
                                BuildingName: $("#txt_BuildingName").val(),
                                Unit: $("#txt_Unit").val(),
                                PostalCode: $("#txt_PostalCode").val(),
                                AcctCode: $("#txt_AcctCode").val(),
                                Enable: $("#com_Enable").combobox('getValue'),

                            };
                            //console.log(postdata);
                            //发送异步请求到后台保存用户数据
                            $.post(url,
                                postdata,
                                function (data, status) {
                                    if (status == "success" && data === "OK") {
                                        msgShow($lang('The System Prompt'), $lang('The Operation Successful'), 'info');
                                        $('#dlg_addDialog').dialog('close');
                                        $("#dgrid").datagrid("reload");
                                    } else {
                                        msgShow($lang('The System Prompt'), $lang('The Operation Failure'), 'error');
                                    }
                                });


                        } else {
                            msgShow($lang('The System Prompt'), $lang('Validation Failure'), 'warning');
                        }
                    }
                });
        }
        //************************************
        //修改相关****************************
        function EditData(id, rowObject) {
            TbId = id;
            type = "Edit";
                var selcompany = "";
                if (rowObject.GroupId != null)
                {
                    selcompany = "-" + rowObject.GroupId;
                }
                $("#txt_LoginId").textbox({ 'disabled': true });
                $('#fmAdd').form('load', {
                    txt_LoginId: rowObject.LoginId,
                    txt_Password: rowObject.Password,
                    txt_StaffName: rowObject.StaffName,
                    txt_Fax: rowObject.Alias,
                    txt_Email: rowObject.Sex,
                    txt_BirthDate: jsonDateFormat(rowObject.BirthDate),
                    txt_Dateoined: jsonDateFormat(rowObject.Dateoined),
                    txt_DateResignation: jsonDateFormat(rowObject.DateResignation),
                    com_Company: rowObject.CompanyId + selcompany,
                    // com_Group: rowObject.GroupId,
                    com_Position: rowObject.Position,
                    com_Role: rowObject.RoleId,
                    com_Nationality: rowObject.Nationality,
                    com_Marital: rowObject.Marital,
                    txt_Phone: rowObject.Phone,
                    txt_Mobile: rowObject.Mobile,
                    txt_Email: rowObject.Email,
                    txt_Fax: rowObject.Fax,
                    txt_Blk: rowObject.Blk,
                    txt_StreetName: rowObject.StreetName,
                    txt_BuildingName: rowObject.BuildingName,
                    txt_Unit: rowObject.Unit,
                    txt_PostalCode: rowObject.PostalCode,
                    txt_AcctCode: rowObject.AcctCode,
                    // com_Enable: rowObject.Enable,

                });
                if (rowObject.Enable) {
                    $('#com_Enable').combobox('select', 'true');
                }
                else {
                    $('#com_Enable').combobox('select', 'false');
                } 
                
                $('#dlg_addDialog').dialog({
                    title: $lang('Edit'),
                    width: width,
                    height: height,
                    top: tops,
                    left: left,
                    closed: false,
                    draggable: true,
                    resizable: true,
                    maximizable: true,
                    collapsible: true,
                    cache: false,
                    modal: true
                });
        
        }
        //************************************
        //删除相关****************************
        function DeleteData(id, rowObject) {
            TbId = id;
            type = "Delete";
                //发送异步请求删除数据
                $.messager.confirm($lang('The System Prompt'), $lang('Are You Sure Delete Selected Data ?'),
                    function (DeleteSelect) {
                        if (DeleteSelect) {
                            $.post(url,
                                { Action: "Delete", Id: id },
                                function (data, status) {
                                    consolelog(status);
                                    if (status == "success" && data == "OK") {
                                        msgShow($lang('The System Prompt'), $lang('The Operation Successful'), 'info');
                                        $("#dgrid").datagrid("reload");
                                        $("#dgrid").datagrid("clearSelections");
                                    } else {
                                        msgShow($lang('The System Prompt'), $lang('The Operation Failure'), 'error');
                                    }
                                });
                        }
                    });
          

        }
        //************************************
        //查询相关****************************
        function doSearch() {
            $('#dgrid').datagrid('load', {
                StaffName: $('#searchName').val(),
                CompanyId: $('#searchCompany').combobox('getValue'),
            });
        }
        //************************************
        
        
        //************************************
    </script>
}
