@{
    ViewBag.Title = "公司管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="easyui-layout" data-options="fit:true" id="tb">
        <!-------------------------------搜索框----------------------------------->
        <div data-options="region:'north'" style="padding: 1px; height: 70px">
            <fieldset>
                <legend>{{Condition}}</legend>

                <form id="ffSearch" method="post">
                    <div id="searchdiv">
                        <table cellspacing="0" cellpadding="0">
                            <tr>
                                <td>
                                    <label for="searchCategory">{{Category}}：</label>
                                </td>
                                <td>
                                    <select class="easyui-combotree" id="searchCategory" name="searchCategory" style="width: 320px;" data-options="required:true,panelHeight:'290px',url:'/System/GetSysList?SysId=1&first=null'"></select>
                                   </td>
                                <td>
                                    &nbsp;&nbsp;
                                </td>
                                <td>
                                    <label for="searchDescription">{{Description}}：</label>
                                </td>
                                <td>
                                    <input class="easyui-textbox" type="text" id="searchDescription" name="searchDescription" style="width: 180px;" maxlength="50" />
                                </td>
                                
                                <td>
                                    &nbsp;&nbsp;<a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" id="btnSearch" onclick="doSearch();">{{Search}}</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </form>

            </fieldset>

        </div>
        <!------------------------------------------------------------------------>
        <div data-options="region:'center'">
            <!-------------------------------详细信息展示表格----------------------------------->
            <table id="dgrid" class="easyui-datagrid" fit="true" idfield="Id"   title="" data-options="
               url: '/DB/CostSearch',
               rownumbers:true,
               pagination:true,
               pagenumber:1,
               pageSize:pageSize,
               pageList:pageList,
               toolbar:'#toolbar',
               remoteSort:true,
               sortName:'Description',
               sortOrder:'asc',
               singleSelect:true,
               nowrap:false,
               loadMsg: loadMsg,
               striped : true,
               fit: true,
               fitColumns:true,
                method:'post',
               onLoadSuccess:onLoadSuccess
               ">
                <thead>
                    <tr>
                         <th data-options="field:'Id',width:80,fixed:true,align:'center',formatter:Operation_formatter">{{Operation}}</th>
                        <th data-options=" field:'CategoryLoopName',width:100,sortable:false">{{Category}}</th>
                        <th data-options=" field:'CategoryName',width:50,sortable:false">{{SubCategory}}</th>
                        <th data-options=" field:'Description',width:150,sortable:true">{{Description}}</th>
                        <th data-options=" field:'Uom',width:80,fixed:true,sortable:true">{{UOM}}</th>
                        <th data-options=" field:'Cost',width:60,fixed:true,sortable:true">{{Cost}}</th>
                        <th data-options=" field:'Profit',width:60,fixed:true,sortable:true">{{Price}}</th>
                        <th data-options=" field:'CostMarkup',width:60,fixed:true,sortable:true">{{CostMarkup}}</th>
                        <th data-options=" field:'Enable',width:50,fixed:true,formatter: Enableformater">{{Enable}}</th>

                    </tr>
                </thead>
            </table>
            <!-------------------------------详细信息展示表格----------------------------------->
        </div>
    </div>
    <!-------------------------------操作按钮----------------------------------->
    <div id="toolbar" style="height:auto">
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="AddData();">{{Add}}</a> 
    </div>
    <div id="menu" class="easyui-menu" style="width: 50px; display: none;">
        <!--放置一个隐藏的菜单Div-->
        <div data-options="iconCls:'icon-add'" onclick="AddData();">{{Add}}</div>
        <div data-options="iconCls:'icon-edit'" onclick="EditData();">{{Edit}}</div>
        <div data-options="iconCls:'icon-delete'" onclick="DeleteData();">{{Delete}}</div>
    </div>
    @*添加弹窗*@
    <div id="dlg_addDialog" class="easyui-dialog" title="" style="width:720px;height:370px;" data-options="iconCls:'icon-save',buttons: [{
					text:$lang('Save'),
					iconCls:'icon-accept',
					handler:function(){
						Dialog_Save();
					}
				},{
					text:$lang('Close'),
                    iconCls:'icon-cancel',
					handler:function(){
						 $('#dlg_addDialog').dialog('close')
					}
				}]" closed="true">
        <form id="fmAdd" method="post" data-options="novalidate:true">
            <div id="tabAdd" class="easyui-tabs">
                <div v-bind:title="title" style="padding:10px">
                    <table id="tblAdd" class="windowtable">
                        <tr>
                            <td class="firstTd" style="width:130px"><label for="com_Category" style="width:130px">{{Category}}：</label></td>
                            <td class="nthTd" colspan="3" style="width:590px">
                                <select class="easyui-combotree" id="com_Category" name="com_Category" data-options="required:true,url:'/System/GetSysList?SysId=1'" style="width:100%;"></select>
                            </td>
                        </tr>
                        <tr>
                            <td class="firstTd" style="width:130px"><label for="txt_Description">{{Description}}：</label></td>
                            <td class="nthTd" colspan="3"><input class="easyui-textbox" id="txt_Description" name="txt_Description" data-options="required:true,multiline:true,validType:'length[1,200]' " style="width:100%;height:40px" /></td>
                        </tr>
                        <tr>
                            <td class="firstTd"><label for="com_Supplier">{{Supplier}}：</label></td>
                            <td class="nthTd" colspan="3">
                                <select class="easyui-combobox" id="com_Supplier" name="com_Supplier" style="width:100%;" data-options="url:'/Base/GetCombox?type=Supplier&first=null',
					            method:'get',
					            valueField:'id',
					            textField:'text',
					            panelHeight:'230px'"></select>
                             </td>
                        </tr>
                        
                        <tr>
                            <td class="firstTd" style="width:130px"><label for="txt_Group" style="width:130px">{{Group}}：</label></td>
                            <td class="nthTd" style="width:230px"><input class="easyui-textbox" id="txt_Group" name="txt_Group" data-options="validType:'length[0,50]' " style="width:100%;" /></td>
                            <td class="firstTd" style="width:130px"><label for="txt_Level" style="width:130px">{{Level}}：</label></td>
                            <td class="nthTd" style="width:230px"><input class="easyui-textbox" id="txt_Level" name="txt_Level" data-options="validType:'length[0,50]' " style="width:100%;" /></td>
                        </tr> 
                        <tr>
                            <td class="firstTd"><label for="txt_Cost">{{Cost}}：</label></td>
                            <td class="nthTd"><input class="easyui-numberbox" precision="2" id="txt_Cost" name="txt_Cost" data-options="required:true,validType:'length[1,10]' " style="width:100%;" /></td>
                            <td class="firstTd"><label for="txt_Price">{{Price}}：</label></td>
                            <td class="nthTd"><input class="easyui-numberbox" precision="2" id="txt_Price" name="txt_Price" data-options="required:true,validType:'length[1,10]' " style="width:100%;" /></td>
                        </tr>
                        <tr> 
                            <td class="firstTd"><label for="com_UOM">{{UOM}}：</label></td>
                            <td class="nthTd">
                                <select class="easyui-combobox" id="com_UOM" name="com_UOM" style="width:100%;" data-options="url:'/Base/GetCombox?type=SysList&SysId=11',
                                method:'get',
					            valueField:'id',
					            textField:'text',
					            panelHeight:'250px'"></select>
                            </td>
                            <td class="firstTd"><label for="com_Enable">{{Enable}}：</label></td>
                            <td class="nthTd">
                                <select class="easyui-combobox" id="com_Enable" name="com_Enable" style="width:100%;" data-options="required:true,editable:false">
                                    <option value="true">Active</option>
                                    <option value="false">Inactive</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="firstTd"><label for="txt_Remark">{{Remark}}：</label></td>
                            <td class="nthTd" colspan="3"><input class="easyui-textbox" id="txt_Remark" name="txt_Remark" data-options="multiline:true,validType:'length[0,500]' " style="width:100%;height:40px" /></td>
                        </tr>
                    </table>
                </div>
            </div>
        </form>
    </div>

</body>

@section body_after{
    @*vm script*@
    <script>
        //所有VM多在这里
        //grid表头
        var vm_gridhead = new Vue({
            el: '#tb',
            data: {
                Condition: $lang("Search Condition"),
                Search: $lang("Search"),
                Operation: $setLang("Operation", "操作"),
                Operation: $setLang("Operation", "操作"),
                CategoryLoopName: $setLang("Category", "分类"),
                SubCategory: $setLang("Sub-Category", "子分类"),
                Category: $setLang("Category", "分类"),
                Description: $setLang("Description", "描述"),
                Supplier: $setLang("Supplier", "供应商"),
                Group: $setLang("Group", "分类"),
                Level: $setLang("Level", "层次"),
                CostMarkup: $setLang("Cost Markup(%)", "盈利(%)"),
                Enable: $setLang("Enable", "状态"),
                UOM: $setLang("UOM", "单位"),
                Cost: $setLang("Cost", "成本"),
                Price: $setLang("Price", "单价"),
                Remark: $setLang("Remark", "备注"),
            }
        })
        //toolbar按钮
        var vm_toolbar = new Vue({
            el: '#toolbar',
            data: {
                Add: $lang("Add"),
                Edit: $lang("Edit"),
                Delete: $lang("Delete"),
            }
        })
        //menu菜单
        var vm_menu = new Vue({
            el: '#menu',
            data: {
                Add: $lang("Add"),
                Edit: $lang("Edit"),
                Delete: $lang("Delete"),
            }
        })
        //增加修改模态框
        var vm_dialog = new Vue({
            el: '#dlg_addDialog',
            data: {
                title: $lang("Basic Information"),
                Category: $setLang("Category", "分类"), 
                Description: $setLang("Description", "描述"),
                Supplier: $setLang("Supplier", "供应商"),
                Group: $setLang("Group", "分类"),
                Level: $setLang("Level", "层次"),
                CostMarkup: $setLang("Cost Markup(%)", "盈利(%)"),
                Enable: $setLang("Enable", "状态"),
                UOM: $setLang("UOM", "单位"),
                Cost: $setLang("Cost", "成本"),
                Price: $setLang("Price", "单价"), 
                Remark: $setLang("Remark", "备注"),
            }
        })
    </script>
    <script type="text/javascript">
        var TbId = 0; //表的Id 
        var width = 760; //窗框宽度
        var height = 420; //窗框高度
        var tops = 1;
        var left = 1;
        var type = "Add"; //区分修改还是新增，修改：Edit
        var url = "/DB/CostAction";
        //新增相关****************************
        function AddData() {
            $('#dlg_addDialog').dialog({
                title: $lang('Add'),
                width: width,
                height: height,
                top: tops,
                left: left,
                closed: false,
                draggable: true,
                resizable: true,
                maximizable: true,
                collapsible: true,
                cache: false,
                modal: true

            });
            type = "Add";
            TbId = 0; 
            //  $('#fmAdd').form('clear'); //清除表单,所有的
            $('#fmAdd').form('reset'); //清除表单 
            $('#com_Enable').combobox('select', 'true');
        }
        //更新数据按钮
        function Dialog_Save() {
            $('#fmAdd').form('submit',
                {
                    onSubmit: function () {
                        var b = $(this).form('enableValidation').form('validate'); 
                        if (b) {
                         
                            //var active = "N";
                            //var chkvalue = $('#chbox_YN').is(':checked');
                            //if (chkvalue == true)
                            //{
                            //    active = "Y";
                            //}
                            //创建传递的参数
                            var postdata = {
                                Action: type,
                                Id:  TbId,
                                CategoryId: $("#com_Category").combobox('getValue'),
                                Description: $("#txt_Description").val(),
                                Group: $("#txt_Group").val(),
                                Level: $("#txt_Level").val(),
                                UOM: $("#com_UOM").combobox('getText'),
                                Cost: $("#txt_Cost").val(),
                                Profit: $("#txt_Price").val(),
                                SupplierId: $("#com_Supplier").combobox('getValue'),
                                Enable: $("#com_Enable").combobox('getValue'),
                                Remark: $("#txt_Remark").val(),
                            };
                            console.log(postdata);
                            //发送异步请求到后台保存用户数据
                            $.post(url,
                               postdata,
                                function (data, status) {
                                    if (status == "success" && data === "OK") {
                                        msgShow($lang('The System Prompt'), $lang('The Operation Successful'), 'info');
                                        $('#dlg_addDialog').dialog('close');
                                        $("#dgrid").datagrid("reload");
                                    } else {
                                        msgShow($lang('The System Prompt'), $lang('The Operation Failure'), 'error');
                                    }
                                });


                        } else {
                            msgShow($lang('The System Prompt'), $lang('Validation Failure'), 'warning');
                        }
                    }
                });
        }
        //************************************
        //修改相关****************************
        function EditData(id, rowObject) { 
            TbId = id;
            type = "Edit";
                $('#fmAdd').form('load', {
                    com_Category: rowObject.CategoryId,
                    txt_Description: rowObject.Description,
                    txt_Group: rowObject.Group,
                    txt_Level: rowObject.Level,
                    com_UOM: rowObject.Uom,
                    txt_Cost: rowObject.Cost,
                    txt_Price: rowObject.Profit,
                    com_Supplier: rowObject.SupplierId, 
                    txt_Remark: rowObject.Remark,
                  //  com_Enable: rowObject.Enable,
                });
                if (rowObject.Enable) {
                    $('#com_Enable').combobox('select', 'true');
                }
                else {
                    $('#com_Enable').combobox('select', 'false');
                }
                //var active = rowObject.Active;
                //if (active == "Y")
                //{
                //    $("input[name='chbox_YN']").prop("checked", true);
                //}
                //else
                //{
                //    $("input[name='chbox_YN']").prop("checked", false);
                //}
             

                $('#dlg_addDialog').dialog({
                    title: $lang('Edit'),
                    width: width,
                    height: height,
                    top: tops,
                    left: left,
                    closed: false,
                    draggable: true,
                    resizable: true,
                    maximizable: true,
                    collapsible: true,
                    cache: false,
                    modal: true
                });
        

        }
        //************************************
        //删除相关****************************
        function DeleteData(id, rowObject) {
            TbId = id; 
            type = "Delete"; 
                //发送异步请求删除数据
                $.messager.confirm($lang('The System Prompt'), $lang('Are You Sure Delete Selected Data ?'),
                    function (DeleteSelect) {
                        if (DeleteSelect) {
                            $.post(url,
                                { Action: type, Id: id },
                                function (data, status) {
                                    console.log(status);
                                    if (status == "success" && data == "OK") {
                                        msgShow($lang('The System Prompt'), $lang('The Operation Successful'), 'info');
                                        $("#dgrid").datagrid("reload");
                                        $("#dgrid").datagrid("clearSelections");
                                    } else {
                                        msgShow($lang('The System Prompt'), $lang('The Operation Failure'), 'error');
                                    }
                                });
                        }
                    });
          
        }
        //************************************
        //查询相关****************************
        function doSearch() {
            $('#dgrid').datagrid('load', {
                Description: $('#searchDescription').val(),
                CategoryId: $('#searchCategory').combobox('getValue'),
               
            });
        }
        //************************************
        //其它方法****************************
        function formatOper(val, row, index) {
            return "<img src='../images/edit.png'  style='cursor: pointer;' title='" + $lang("Edit") + "' onclick='EditData(" + JSON.stringify(row) + ",\"" + val + "\")'  ></img>&nbsp;&nbsp;" +
                     "<img src='../images/delete.png' style='cursor: pointer;' title='" + $lang("Delete") + "'  onclick='DeleteData(" + val + ")'></img>";

        }
        function formatTel(val, row, index) {
            var reslut = "";
            if (row.Tel != null && row.Tel2 != null) {
                reslut = row.Tel + " / " + row.Tel2;
            }
            else {
                if (row.Tel != null) {
                    reslut = row.Tel;
                }
                if (row.Tel2 != null) {
                    reslut = row.Tel2;
                }
            }
            return reslut;
        }
      
        //************************************
    </script>
}
