<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
     <add name="HgmasDBEntities" connectionString="Data Source=192.168.126.133;Initial Catalog=hgmasdb;user id=luyangjia;password=123456;" providerName="MySql.Data.MySqlClient" />
     
    
    <remove name="LocalMySqlServer" /><add name="LocalMySqlServer" connectionString="" providerName="MySql.Data.MySqlClient" /></connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <!--用户没有授权时 自动退回登陆界面-->
    <authentication mode="Forms">
      <forms loginUrl="~/Home/Login" timeout="2880" path="/" />
    </authentication>
    
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <roleManager enabled="true" defaultProvider="MySQLRoleProvider">
      <providers>
        <clear />
        <add name="MySQLRoleProvider" autogenerateschema="true" type="MySql.Web.Security.MySQLRoleProvider, MySql.Web, Version=8.0.12.0,                       Culture=neutral, PublicKeyToken=c5687fc88969c44d" connectionStringName="MarioDB" applicationName="/" />
      <remove name="MySQLRoleProvider" /><add name="MySQLRoleProvider" type="MySql.Web.Security.MySQLRoleProvider, MySql.Web, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" connectionStringName="LocalMySqlServer" applicationName="/" /></providers>
    </roleManager>
    <membership defaultProvider="MySQLMembershipProvider">
      <providers>
        <clear />
        <add name="MySQLMembershipProvider" autogenerateschema="true" type="MySql.Web.Security.MySQLMembershipProvider, MySql.Web,                       Version=6.7.4.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" connectionStringName="MarioDB" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      <remove name="MySQLMembershipProvider" /><add name="MySQLMembershipProvider" type="MySql.Web.Security.MySQLMembershipProvider, MySql.Web, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" connectionStringName="LocalMySqlServer" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" applicationName="/" requiresUniqueEmail="false" passwordFormat="Clear" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression="" /></providers>
    </membership>
  <profile defaultProvider="MySQLProfileProvider">
      <providers>
        <remove name="MySQLProfileProvider" />
        <add name="MySQLProfileProvider" type="MySql.Web.Profile.MySQLProfileProvider, MySql.Web, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" connectionStringName="LocalMySqlServer" applicationName="/" />
      </providers>
    </profile><siteMap defaultProvider="MySqlSiteMapProvider">
      <providers>
        <remove name="MySqlSiteMapProvider" />
        <add name="MySqlSiteMapProvider" type="MySql.Web.SiteMap.MySqlSiteMapProvider, MySql.Web, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" connectionStringName="LocalMySqlServer" applicationName="/" />
      </providers>
    </siteMap><webParts>
      <personalization defaultProvider="MySQLPersonalizationProvider">
        <providers>
          <remove name="MySQLPersonalizationProvider" />
          <add name="MySQLPersonalizationProvider" type="MySql.Web.Personalization.MySqlPersonalizationProvider, MySql.Web, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" connectionStringName="LocalMySqlServer" applicationName="/" />
        </providers>
      </personalization>
    </webParts></system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.8.0" newVersion="6.9.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="MVC.BLL.IT_UserBLL,MVC.BLL" mapTo="MVC.BLL.T_UserBLL, MVC.BLL" />
      <register type="MVC.BLL.IT_TreeBLL,MVC.BLL" mapTo="MVC.BLL.T_TreeBLL, MVC.BLL" />
      <register type="MVC.BLL.IT_CompanyBLL,MVC.BLL" mapTo="MVC.BLL.T_CompanyBLL, MVC.BLL" />
      <register type="MVC.BLL.IT_SysBLL,MVC.BLL" mapTo="MVC.BLL.T_SysBLL, MVC.BLL" />
      <register type="MVC.BLL.IT_SysListBLL,MVC.BLL" mapTo="MVC.BLL.T_SysListBLL, MVC.BLL" />
      <register type="MVC.BLL.IT_RoleBLL,MVC.BLL" mapTo="MVC.BLL.T_RoleBLL, MVC.BLL" />
      <register type="MVC.BLL.IT_LogBLL,MVC.BLL" mapTo="MVC.BLL.T_LogBLL, MVC.BLL" />
      <register type="MVC.BLL.IT_SupplierBLL,MVC.BLL" mapTo="MVC.BLL.T_SupplierBLL, MVC.BLL" />
      <register type="MVC.BLL.IT_CostBLL,MVC.BLL" mapTo="MVC.BLL.T_CostBLL, MVC.BLL" />
      <register type="MVC.BLL.IT_ClientBLL,MVC.BLL" mapTo="MVC.BLL.T_ClientBLL, MVC.BLL" />
      <register type="MVC.BLL.IT_ProjectBLL,MVC.BLL" mapTo="MVC.BLL.T_ProjectBLL, MVC.BLL" />
      <register type="MVC.BLL.IT_ProjectUserBLL,MVC.BLL" mapTo="MVC.BLL.T_ProjectUserBLL, MVC.BLL" />
      <register type="MVC.BLL.IT_ProjectPlanBLL,MVC.BLL" mapTo="MVC.BLL.T_ProjectPlanBLL, MVC.BLL" />
      <register type="MVC.BLL.IT_AgreeBLL,MVC.BLL" mapTo="MVC.BLL.T_AgreeBLL, MVC.BLL" />
      <register type="MVC.BLL.IT_AgreeListBLL,MVC.BLL" mapTo="MVC.BLL.T_AgreeListBLL, MVC.BLL" />
      <register type="MVC.BLL.IT_DepartmentBLL,MVC.BLL" mapTo="MVC.BLL.T_DepartmentBLL, MVC.BLL" />
      <register type="MVC.BLL.IT_ProjectFeeBLL,MVC.BLL" mapTo="MVC.BLL.T_ProjectFeeBLL, MVC.BLL" />
      <register type="MVC.BLL.IT_LeaveSettingBLL,MVC.BLL" mapTo="MVC.BLL.T_LeaveSettingBLL, MVC.BLL" />
      <register type="MVC.BLL.IT_LeaveApplyBLL,MVC.BLL" mapTo="MVC.BLL.T_LeaveApplyBLL, MVC.BLL" />
      <register type="MVC.BLL.IT_LeaveCarryOverBLL,MVC.BLL" mapTo="MVC.BLL.T_LeaveCarryOverBLL, MVC.BLL" />
      <register type="MVC.BLL.IT_FixedAssetsBLL,MVC.BLL" mapTo="MVC.BLL.T_FixedAssetsBLL, MVC.BLL" />
      <register type="MVC.BLL.IT_FixedAssetsUseBLL,MVC.BLL" mapTo="MVC.BLL.T_FixedAssetsUseBLL, MVC.BLL" />
     
    </container>
  </unity>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d">
      </provider>
    </providers>
    
  </entityFramework>
</configuration>