.icon-blank{
	background:url('icons/blank.gif') no-repeat center center;
}
.icon-add{
	background:url('icons/add.png') no-repeat center center;
}
.icon-delete{
	background:url('icons/delete.png') no-repeat center center;
}
.icon-clear{
	background:url('icons/clear.png') no-repeat center center;
}
.icon-remove{
	background:url('icons/edit_remove.png') no-repeat center center;
}
.icon-save{
	background:url('icons/filesave.png') no-repeat center center;
}
.icon-cut{
	background:url('icons/cut.png') no-repeat center center;
}
.icon-ok{
	background:url('icons/ok.png') no-repeat center center;
}
.icon-no{
	background:url('icons/no.png') no-repeat center center;
}
.icon-cancel{
	background:url('icons/cross.png') no-repeat center center;
}
.icon-reload{
	background:url('icons/reload.png') no-repeat center center;
}
.icon-search{
	background:url('icons/search.png') no-repeat center center;
}
.icon-print{
	background:url('icons/print.png') no-repeat center center;
}
.icon-help{
	background:url('icons/help.png') no-repeat center center;
}
.icon-undo{
	background:url('icons/undo.png') no-repeat center center;
}
.icon-redo{
	background:url('icons/redo.png') no-repeat center center;
}
.icon-back{
	background:url('icons/back.png') no-repeat center center;
}
.icon-sum{
	background:url('icons/sum.png') no-repeat center center;
}
.icon-tip{
	background:url('icons/tip.png') no-repeat center center;
}
.icon-filter{
	background:url('icons/filter.png') no-repeat center center;
}
.icon-man{
	background:url('icons/man.png') no-repeat center center;
}
.icon-lock{
	background:url('icons/lock.png') no-repeat center center;
}
.icon-more{
	background:url('icons/more.png') no-repeat center center;
}


.icon-mini-add{
	background:url('icons/mini_add.png') no-repeat center center;
}
.icon-mini-edit{
	background:url('icons/mini_edit.png') no-repeat center center;
}
.icon-mini-refresh{
	background:url('icons/mini_refresh.png') no-repeat center center;
}

.icon-large-picture{
	background:url('icons/large_picture.png') no-repeat center center;
}
.icon-large-clipart{
	background:url('icons/large_clipart.png') no-repeat center center;
}
.icon-large-shapes{
	background:url('icons/large_shapes.png') no-repeat center center;
}
.icon-large-smartart{
	background:url('icons/large_smartart.png') no-repeat center center;
}
.icon-large-chart{
	background:url('icons/large_chart.png') no-repeat center center;
}

 /*以下ICO自己加入*/
 /*树节点的ICO*/
.icon-treechild{
	background:url('icons/application_side_tree.png') no-repeat center center;
}
.icon-collapseAll{
	background:url('icons/collapseAll.png') no-repeat center center;
}
.icon-expandAll{
	background:url('icons/expandAll.png') no-repeat center center;
}
.icon-house{
	background:url('icons/house.png') no-repeat center center;
}
.icon-edit_disabled{
	background:url('icons/edit_disabled.png') no-repeat center center;
}
.icon-edit{
	background:url('icons/edit.png') no-repeat center center;
}
.icon-treetop{
    background:url('icons/monitor.png') no-repeat center center;
}

.icon-treenotemain{
    background:url('icons/box_picture.png') no-repeat center center;
}
.icon-treenote{
    background:url('icons/bell.png') no-repeat center center;
}
.icon-accept{
    background:url('icons/accept.png') no-repeat center center;
}
.icon-view{
    background:url('icons/view.png') no-repeat center center;
}
.icon-folder_page{
    background:url('icons/folder_page.png') no-repeat center center;
}
.icon-user_brown{
    background:url('icons/user_brown.png') no-repeat center center;
}
.icon-book{
    background:url('icons/book.png') no-repeat center center;
}
.icon-book_open{
    background:url('icons/book_open.png') no-repeat center center;
}
.icon-user_b{
    background:url('icons/user_b.png') no-repeat center center;
}
.icon-user{
    background:url('icons/user.png') no-repeat center center;
}
.icon-user_key{
    background:url('icons/user_key.png') no-repeat center center;
}
.icon-user_green{
    background:url('icons/user_green.png') no-repeat center center;
}
.icon-user_suit_black{
    background:url('icons/user_suit_black.png') no-repeat center center;
}
.icon-vcard{
    background:url('icons/vcard.png') no-repeat center center;
}
.icon-folder_home{
    background:url('icons/folder_home.png') no-repeat center center;
}
.icon-chart_bar{
    background:url('icons/chart_bar.png') no-repeat center center;
}
.icon-world{
    background:url('icons/world.png') no-repeat center center;
}
.icon-bug_edit{
    background:url('icons/bug_edit.png') no-repeat center center;
}
.icon-database{
    background:url('icons/database.png') no-repeat center center;
} 
.icon-database_yellow{
    background:url('icons/database_yellow.png') no-repeat center center;
} 
.icon-link{
    background:url('icons/link.png') no-repeat center center;
}
.icon-lanage{
    background:url('icons/flag_sh.png') no-repeat center center;
}
.icon-decline{
    background:url('icons/decline.png') no-repeat center center;
}
.icon-systemclose{
    background:url('icons/system_close.gif') no-repeat center center;
}
.icon-plugin{
    background:url('icons/plugin.png') no-repeat center center;
}
.icon-book_edit{
    background:url('icons/book_edit.png') no-repeat center center;
}
.icon-table{
    background:url('icons/table.png') no-repeat center center;
}
.icon-shape_3d{
    background:url('icons/shape_3d.png') no-repeat center center;
}
.icon-group_key{
    background:url('icons/group_key.png') no-repeat center center;
}
.icon-group_key{
    background:url('icons/group_key.png') no-repeat center center;
}
.icon-arrow_rotate_clockwise{
    background:url('icons/arrow_rotate_clockwise.png') no-repeat center center;
}
 .icon-group_link{
    background:url('icons/group_link.png') no-repeat center center;
}
 .icon-money_dollar{
    background:url('icons/money_dollar.png') no-repeat center center;
}
.icon-delete_disabled{
    background:url('icons/delete_disabled.png') no-repeat center center;
}
 .icon-undo_disabled{
	background:url('icons/undo_disabled.png') no-repeat center center;
}
  .icon-pencil{
	background:url('icons/pencil.png') no-repeat center center;
}