@{
    ViewBag.Title = "员工假期审批列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="easyui-layout" data-options="fit:true" id="tb">
        <!-------------------------------搜索框----------------------------------->
        <div data-options="region:'north'" style="padding: 1px; height: 70px">
            <fieldset>
                <legend>{{Condition}}</legend>

                <form id="ffSearch" method="post">
                    <div id="searchdiv">
                        <table cellspacing="0" cellpadding="0">
                            <tr>
                                <td>
                                    <label for="searchName">{{Times}}：</label>
                                </td>
                                <td>
                                    <input class="easyui-datebox" type="text" id="search_beginTime" name="search_beginTime" style="width: 120px;" maxlength="20" />--
                                    <input class="easyui-datebox" type="text" id="search_endTime" name="search_endTime" style="width: 120px;" maxlength="20" />
                                </td>
                                <td>
                                    &nbsp;&nbsp;<a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" id="btnSearch" onclick="doSearch();">{{Search}}</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </form>

            </fieldset>

        </div>
        <!------------------------------------------------------------------------>
        <div data-options="region:'center'">
            <!-------------------------------详细信息展示表格----------------------------------->
            <table id="dgrid" class="easyui-datagrid" fit="true" idfield="Id" title="" data-options="
               url: '/Leave/ApprovalSearch',
               rownumbers:true,
               pagination:true,
               pagenumber:1,
               pageSize:pageSize,
               pageList:pageList, 
               remoteSort:true,
               sortName:'FromDate',
               sortOrder:'desc',
               singleSelect:true,
               nowrap:false,
               loadMsg: loadMsg,
               striped : true,
               fitColumns:true,
               method:'post',
              onLoadSuccess:onLoadSuccess
               ">
                <thead>
                    <tr>
                        <th data-options="field:'Id',width:60,fixed:true,align:'center',formatter:Operationformatter">{{Operation}}</th>
                        <th data-options=" field:'UserName',width:120,fixed:true,sortable:true">{{UserName}}</th>
                        <th data-options=" field:'SetingName',width:150,fixed:true,sortable:true">{{SetingName}}</th>
                        <th data-options=" field:'FromDate',width:250,fixed:true,sortable:true,formatter: Timesformater">{{Times}}</th>
                        <th data-options=" field:'Days',width:60,fixed:true">{{Days}}</th>
                        <th data-options=" field:'UseDays',width:120,fixed:true,formatter: Remainingformater">{{Remaining}}</th>
                        <th data-options=" field:'Reaon',width:120">{{Reaon}}</th> 
                        <th data-options=" field:'Status',width:60,fixed:true,formatter: Statusformater">{{Status}}</th>

                    </tr>
                </thead>
            </table>
            <!-------------------------------详细信息展示表格----------------------------------->
        </div>
    </div>
    <!-------------------------------操作按钮----------------------------------->
    <div id="toolbar" style="height:auto">
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="AddData();">{{Apply}}</a>
    </div>

    @*添加弹窗*@
    <div id="dlg_addDialog" class="easyui-dialog" title="" style="width:690px;height:320px;" data-options="iconCls:'icon-save',buttons: [{
					text:$lang('Save'),
					iconCls:'icon-accept',
					handler:function(){
						Dialog_Save();
					}
				},{
					text:$lang('Close'),
                    iconCls:'icon-cancel',
					handler:function(){
						 $('#dlg_addDialog').dialog('close')
					}
				}]" closed="true">
        <form id="fmAdd" method="post" data-options="novalidate:true">
            <div id="tabAdd" class="easyui-tabs">
                <div v-bind:title="title" style="padding:10px">
                    <table id="tblAdd" class="windowtable">

                        <tr>
                            <td class="firstTd" style="width:150px"><label>{{Date}}：</label></td>
                            <td class="nthTd" style="width:540px">
                                <input class="easyui-datebox" id="txt_FromDate" name="txt_FromDate"  style="width:160px;" readonly="readonly" />
                                <select class="easyui-combobox" id="com_FromType" name="com_FromType" style="width:90px;" data-options="editable:false">
                                    <option value="Morning" selected>Morning</option>
                                    <option value="Afternoon">Afternoon</option>
                                </select>
                                --
                                <input class="easyui-datebox" id="txt_EndDate" name="txt_EndDate" readonly="readonly" style="width:160px;" />
                                <select class="easyui-combobox" id="com_EndType" name="com_EndType" style="width:90px;" data-options="editable:false">
                                    <option value="Morning">Morning</option>
                                    <option value="Afternoon" selected>Afternoon</option>
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td class="firstTd"><label>{{UserName}}：</label></td>
                            <td class="nthTd">
                                <input class="easyui-textbox" id="tex_UserName" name="tex_UserName" readonly="readonly" style="width:100%;">
                            </td>
                        </tr>
                        <tr>
                            <td class="firstTd"><label>{{Type}}：</label></td>
                            <td class="nthTd">
                                <input class="easyui-textbox" id="tex_Type" name="tex_Type" readonly="readonly" style="width:100%;">
                            </td>
                        </tr>
                        <tr>
                            <td class="firstTd"><label>{{Reaon}}：</label></td>
                            <td class="nthTd">
                                <input class="easyui-textbox" id="tex_Reaon" name="tex_Reaon"  readonly="readonly" style="width:100%;height:60px;">
                            </td>
                        </tr>
                        <tr>
                            <td class="firstTd"><label>{{IsAgree}}：</label></td>
                            <td class="nthTd">
                                <div style="margin-bottom:14px">
                                    <input class="easyui-radiobutton" name="radio_IsAgree" value="1" label="Agree:">
                                </div>
                                <div style="margin-bottom:14px">
                                    <input class="easyui-radiobutton" name="radio_IsAgree" value="2" label="Reject:">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="firstTd"><label>{{ApprovalReaon}}：</label></td>
                            <td class="nthTd">
                                <input class="easyui-textbox" id="tex_ApprovalReaon" name="tex_ApprovalReaon" data-options="multiline:true,validType:'length[0,2000]'" style="width:100%;height:60px">
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </form>
    </div>

</body>

@section body_after{
    @*vm script*@
    <script>
        //所有VM多在这里
        //grid表头
        var vm_gridhead = new Vue({
            el: '#tb',
            data: {
                Condition: $lang("Search Condition"),
                Search: $lang("Search"),
                Operation: $setLang("Operation", "操作"),
                UserName: $setLang("Staff Name", "员工姓名"),
                SetingName: $setLang("Type", "假期类型"),
                Days: $setLang("Days", "天数"),
                Times: $setLang("Leave Date", "请假时间"),
                Reaon: $setLang("Reaon", "请假理由"),
                ApprovalName: $setLang("Approval Name", "审批人"),
                Agree: $setLang("Agree", "是否同意"),
                Status: $setLang("Status", "状态"),
                Remaining: $setLang("Remaining", "剩余"),
            } 
        })
        //toolbar按钮
        var vm_toolbar = new Vue({
            el: '#toolbar',
            data: {
                Add: $lang("Add"),
                Edit: $lang("Edit"),
                Delete: $lang("Delete"),
                Apply: $setLang("Apply", "申请"),
            }
        })
        //增加修改模态框
        var vm_dialog = new Vue({
            el: '#dlg_addDialog',
            data: {
                title: $lang("Basic Information"),
                Name: $setLang("Type", "假期类型"),
                Days: $setLang("Days", "天数"),
                Months: $setLang("Worked For Months", "工作几个月"),
                IsUnpaid: $setLang("Unpaid", "是否扣钱"),
                IsLimit: $setLang("Limit", "是否限制"),
                IsCarryOver: $setLang("Carry Over", "是否延长"),
                Enable: $setLang("Enable", "状态"),
                Date: $setLang("Leave Date", "日期"),
                Type: $setLang("Type", "类型"),
                UserName: $setLang("Staff Name", "员工姓名"),
                Reaon: $setLang("Reaon", "请假理由"),
                IsAgree: $setLang("Approval Status", "审批状态"),
                ApprovalReaon: $setLang("Opinion", "审批意见"),
            }
        })
    </script>
    <script type="text/javascript"> 
        var TbId = 0; //表的Id
        var width = 740; //窗框宽度
        var height = 520; //窗框高度
        var tops = 1;
        var left = 1;
        var type = "Add"; //区分修改还是新增，修改：Edit
        var url = "/Leave/ApprovalAction";
         
        //radio 取值：
        //JS代码
        //$("input[name='radio_IsAgree']:checked").val()
    
        //radio 赋值, 选中值为2的radio：
        //JS代码
        //$("input[name='radioName']:checked").attr("checked",true);
        //更新数据按钮
        function Dialog_Save() {
            $('#fmAdd').form('submit',
                {
                    onSubmit: function () {
                        var b = $(this).form('enableValidation').form('validate');
                        var chkvalue = $("input[name='radio_IsAgree']:checked").val();
                        if (b && chkvalue!=null) {
                                //创建传递的参数
                                var postdata = {
                                    Action: type,
                                    Id: TbId, 
                                    Status: $("input[name='radio_IsAgree']:checked").val(),
                                    ApprovalReaon: $("#tex_ApprovalReaon").val(),
                                }; 

                                //发送异步请求到后台保存用户数据
                                $.post(url,
                                    postdata,
                                    function (data, status) {
                                        if (status == "success" && data === "OK") {
                                            msgShow($lang('The System Prompt'), $lang('The Operation Successful'), 'info');
                                            $('#dlg_addDialog').dialog('close');
                                            $("#dgrid").datagrid("reload");
                                        } else {
                                            msgShow($lang('The System Prompt'), $lang('The Operation Failure'), 'error');
                                        }
                                    });
                            }
                            else {
                                msgShow($lang('The System Prompt'), $lang('Validation Failure'), 'warning');
                            }


 
                    }
                });
        }
        //************************************
        //变更相关****************************
        function ApprovalData(id, rowObject) {
            TbId = id;  
            $('#fmAdd').form('load', {
                txt_FromDate: rowObject.FromDate,
                txt_EndDate: rowObject.EndDate,
                com_FromType: rowObject.FromType,
                com_EndType: rowObject.EndType,
                tex_Reaon: rowObject.Reaon,
                tex_Type: rowObject.SetingName,
                tex_UserName: rowObject.UserName,
            });
               
            type = "Approval";
            $('#dlg_addDialog').dialog({
                title: $lang('Approval'),
                width: width,
                height: height,
                top: tops,
                left: left,
                closed: false,
                draggable: true,
                resizable: true,
                maximizable: true,
                collapsible: true,
                cache: false,
                modal: true
            });

        }
        //************************************  
        //查询相关****************************
        function doSearch() {
            $('#dgrid').datagrid('load', {
                BeginTime: $('#search_beginTime').val(),
                EndTime: $('#search_endTime').combobox('getValue'),
            });
        }
        //************************************
     
        function Timesformater(value, rowObject, index) {
            var result = jsonDateFormat(rowObject.FromDate) + " " + rowObject.FromType + "--" + jsonDateFormat(rowObject.EndDate) + " " + rowObject.EndType;
            return result;
        }
        function Statusformater(value, rowObject, index) {
            var html = "";
            if (value ==0)
                html = "<font color=#0000CC >Wait</font>";
            if (value == 1)
                html = "Agree";
            if (value == 2)
                html = "Reject";
            if (value == 3)
                html = "<font color=#FF0000 >Change</font>";
            if (value == 5)
                html = "<font color=#9F88FF >Undo</font>";
            if (value == 10)
                html = "<font color=#888888 >Invalid</font>";

            return html;
        }
        function Operationformatter(value, rowObject, index) {
            var html = ""; 
            html = html + "<a href=\"javascript:void(0)\" class=\"pluginIcon\" title='" + $setLang("Approval", "审核") + "' onclick='ApprovalData(\"" + value + "\"," + JSON.stringify(rowObject) + ")' ></a>";
             return html;
        }
        function Remainingformater(value, rowObject, index) {
            var html = "";
            var usedays = "--";
            var totaldays = "--";
            if (rowObject.UseDays >= 0 && rowObject.TotalDays >= 0)
            {
                if(rowObject.UseDays+rowObject.Days>rowObject.TotalDays)
                {
                    //表示不够，显示红色
                    html = html + "<font color=red>Use:" + rowObject.UseDays + ";Remaining:" + rowObject.TotalDays+"</font>";
                }
                else
                {
                    html = html + "Use:" + rowObject.UseDays + ";Remaining:" + rowObject.TotalDays;
                }
            }
            else {
                if (rowObject.UseDays>=0)
                {
                    usedays = rowObject.UseDays;
                }
                if (rowObject.UseDays >= 0) {
                    totaldays = rowObject.TotalDays;
                }
                html = html + "Use:" + usedays + ";Remaining:" + totaldays;
            }
            return html;
        }
         
        //************************************
    </script>
}
